:root {
	font-size: 12pt;
}

body {
	padding: 0;
	margin: 0;
	font-family: arial, sans-serif;
	overflow: hidden;
}

* {
	color: black;
	outline: none;
}

.hidden {
	display: none !important;
}

.leaflet-container {
	background: white;
}

.leaflet-left .leaflet-control,
.leaflet-right .leaflet-control,
.button-base, input[type="button"], select, .fas {
	margin: 0;
	border-radius: 0 !important;
	color: black;
	background: white;
	border: 1px solid #ccc;
	cursor: default;
	box-shadow: none;
}

.leaflet-control-zoom {
	width: 4.1rem !important;
}

.leaflet-control-zoom > *, #menu-button  {
	display: inline-block !important;
	width: 2rem !important;
	height: 2rem !important;
	line-height: 2rem !important;
	font-size: 2rem !important;
}

.leaflet-control-zoom-in {
	border-bottom: none !important;
	border-right: 1px solid #ccc;
}

.leaflet-control-coordinates .uiElement {
	margin-top: 0;
	margin-bottom: 0;
}

.button-base, input[type="button"], select, .fas, .leaflet-control > a {
	display: inline-block;
	vertical-align: middle;
	height: 2rem;
	width: 2rem;
	padding: 0;
	justify-content: center;
	align-items: center;
	text-align: center;
	transition: background 0.2s;
}

.fas {
	max-width: 2rem;
}

.button-base:hover, input[type="button"]:hover, select:hover, .fas:hover, .leaflet-control > a:hover, .jscolor-btn-close:hover {
	background: #eee;
	transition: background 0.2s;
}


/* Setting background to select:active will cause bugs in older browsers, so we don't use it */
.button-base:active, input[type="button"]:active, .fas:active, .leaflet-control > a:active, .jscolor-btn-close:active {
	background: #ccc;
	transition: background 0.2s;
}

.fas {
	font-size: 1.6rem;
	width: 2rem;
	user-select: none;
}

input, select {
	font-size: 1rem;
	height: 1.2rem !important;
	background: white;
	color: black;
	border: 1px solid #ccc;
}

.invalid-input {
	background: #ffbebe;
	border: 1px solid darkred;
}

input:invalid {
	box-shadow: none;
}

input:disabled {
	background: #f4f4f4;
}

input[type="color"] {
	padding: 0;
	height: 1.3rem;
}

input[type="file"] {
	display: none !important;
}

.adv-lyr-sys-file-area {
	display: block;
	height: auto;
	text-align: left;
	padding-left: 0.2rem;
	padding-right: 0.2rem;
	width: 100%;
}

select {
	height: 1.5rem;
}

select > * {
	background: white;
}

/* JSColor */
.jscolor-picker-wrap {
	z-index: 99999 !important;
}

/* Make map take up whole space */
#map {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

/* Menu */
#menu-button {
	border: none;
}

#menu {
	position: fixed;
	top: 0;
	right: -23rem;
	z-index: 10000;
	width: 22rem;
	max-width: 100%;
	height: 100%;
	overflow: hidden;
	padding-top: 2rem;
	padding-bottom: 2rem;
	box-sizing: border-box;

	border-left: lightgrey;
	background: white;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
	transition: right ease-in-out 0.2s, left ease-in-out 0.2s;
}

#menu[data-hidden="0"] {
	right: 0;
	transition: right ease-in-out 0.2s, left ease-in-out 0.2s;
}

#menu.menu-left {
	left: -23rem;
}

#menu.menu-left[data-hidden="0"] {
	left: 0;
}

#menu.menu-mobile {
	width: 100%;
	right: -100%;
}

#menu.menu-mobile[data-hidden="0"] {
	right: 0;
}

#top-panel-wrapper, #bottom-panel-wrapper {
	position: fixed;
	width: 100%;
	max-width: 22rem;
}

#top-panel-wrapper {
	top: 0;
}

#menu.menu-mobile #top-panel-wrapper, #menu.menu-mobile #bottom-panel-wrapper {
	max-width: 100%;
}

#menu-items {
	min-height: 100%;
	max-height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

#bottom-panel-wrapper {
	bottom: 0;
}

.controls-row-set {
	display: table; /* Hack for older browsers */
	table-layout: fixed;
	display: flex;
	flex-flow: row;
	width: 100%;
	padding: 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.controls-row-set > * {
	display: table-cell !important;
	display: flex !important;
	border: none !important;
	word-wrap: break-word;
	border-right: 1px solid #ccc !important;
	flex: 1;
}

.controls-row-set > *:last-child {
	border-right: none;
}

#menu-maps-select {
	width: 100%; /* Hack for older browsers */
}

#menu-delete {
	color: darkred;
}

/* Wizard */

#wizard-container {
	display: block;
	position: fixed;
	z-index: 999999;
	width: 100%;
	height: 100%;
	opacity: 1;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.8);
	transition: opacity 0.3s;
}

#wizard-container[data-hidden="1"] {
	width: 0;
	height: 0;
	opacity: 0;
	transition: all 0s 0.3s, opacity 0.3s;
}

#wizard-window {
	position: relative;
	display: block;
	max-width: 50rem;
	left: 50%;
	top: 50%;
	background: white;
	transform: translate(-50%, -50%);
	transition: top 0.3s;
}

#wizard-container[data-hidden="1"] > #wizard-window {
	top: 25%;
	transition: top 0.4s;
}

#wizard-window > * {
	width: 100%;
}

#wizard-menu, #menu-maps-select {
	height: 2rem !important;
	font-size: 1rem;
	text-align-last: center
}

#wizard-menu {
	border: none;
	border-bottom: 1px solid #ccc;
}

#wizard-content > * {
	width: 100%;
}

#wizard-content > *[data-hidden="1"] {
	display: none;
}

#wizard-buttons > * {
	width: 50%;
}

/* Layers */
.layer-container {
	width: 100%;
	border-bottom: 1px solid #ccc;
}

.layer-container[data-is-selected = "1"] {
	background: #e2e2e2;
}

.layer-container > .controls-row-set {
	border: none;
}

.layer-label {
	display: inline-block;
	vertical-align: middle;
	display: flex;
	align-items: center;
	width: 73%;
	height: 2rem;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
}

.layer-label[contenteditable = "true"] {
	text-decoration: underline;
}

.layer-handle {
	cursor: move;
}

.layer-menu {
	display: block;
	width: 100%;
	border: none;

	/* Animation-related */
	overflow: hidden;
	transition: height 0.3s;
}

.adv-lyr-sys-widget-row {
	display: block; /* Hack for older browsers */
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	box-sizing: border-box;
	padding: 0.2rem;
	width: 100%;
}

.adv-lyr-sys-widget-row > * {
	display: inline-block; /* Hack for older browsers */
}

.adv-lyr-sys-widget-row > label {
	width: 13rem; /* Hack for older browsers */
	margin-right: 0.3rem;
	flex: 1 1 13rem;
	user-select: none;
}

.adv-lyr-sys-input {
	width: 7rem; /* Hack for older browsers */
	flex: 9999 1 5rem;
}

.adv-lyr-sys-input > * {
	width: 100%;
	box-sizing: border-box;
}

.adv-lyr-sys-input > input {
	height: 1.2rem;
	padding-top: 0;
	padding-bottom: 0;
}

/* Checkbox */
.adv-lyr-sys-checkbox-wrapper {
	width: 1rem !important;
	flex: none;
}

.adv-lyr-sys-checkbox-wrapper > * {
	display: inline-block !important;
	vertical-align: middle !important;
	min-width: 1rem !important;
	width: 1rem !important;
	margin: 0 !important;
	padding: 0 !important;
}

/* Number input */
.adv-lyr-sys-number {
	display: flex;
	flex-flow: row;
}

.adv-lyr-sys-number > input {
	width: 4rem; /* Hack for older browsers */
	flex: 1 1;
}

.adv-lyr-sys-divicon .adv-lyr-sys-number > input {
	width: 2rem; /* Hack for older browsers */
}

.adv-lyr-sys-number > div {
	min-width: 1.2rem;
	max-width: 1.2rem;
	height: 1.2rem;
	font-size: 1rem;
}

.adv-lyr-sys-number > * {
	border-right: none;
}

.adv-lyr-sys-number > *:last-child {
	border-right: 1px solid #ccc;
}

/* Divider */
.adv-lyr-sys-divider {
	height: 1px;
	margin: 0.2rem;
	border: none;
	padding: 0;
	background: grey; /* For browsers that does not support gradients */
	background: linear-gradient(90deg, transparent 5%, grey 25%, grey 75%, transparent 95%);
}

/* WidgetLayer */

.adv-lyr-sys-divicon-container {
	border: none;
	background: none;
}

.adv-lyr-sys-divicon {
	font-size: 0.75rem;
	background: white;
	border: 1px solid #ccc;
	width: 12rem;
}

.adv-lyr-sys-divicon-container .nostyle {
	border: none;
	padding: 0;
}

.adv-lyr-sys-divicon-container .nostyle > * {
	padding: 0;
}

.adv-lyr-sys-divicon-container .nostyle .adv-lyr-sys-simple-label {
	border: 1px solid #ccc;
	padding: 0 0.1rem;
}

.adv-lyr-sys-divicon > .adv-lyr-sys-widget-row {
	display: flex;
	flex-flow: row;
}

.adv-lyr-sys-divicon input, .adv-lyr-sys-divicon select {
	font-size: 0.75rem !important;
}

.adv-lyr-sys-divicon > .adv-lyr-sys-widget-row > label {
	width: 60%;
	margin: 0;
	flex: 1 1 6rem;
}

.adv-lyr-sys-divicon > .adv-lyr-sys-widget-row > .adv-lyr-sys-input {
	width: 40%;
	flex: 9999 1 4rem;
}

.adv-lyr-sys-divicon-pos-center {
	transform: translate(-50%, -50%);
}

.adv-lyr-sys-divicon-pos-leftCenter {
	transform: translateY(-50%);
}

.adv-lyr-sys-divicon-pos-rightCenter {
	transform: translate(-100%, -50%);
}

.adv-lyr-sys-divicon-pos-topCenter {
	transform: translateX(-50%);
}

.adv-lyr-sys-divicon-pos-topRight {
	transform: translateX(-100%);
}

.adv-lyr-sys-divicon-pos-bottomLeft {
	transform: translateY(-100%);
}

.adv-lyr-sys-divicon-pos-bottomCenter {
	transform: translate(-50%, -100%);
}

.adv-lyr-sys-divicon-pos-bottomRight {
	transform: translate(-100%, -100%);
}

/* SimpleLabel */

.adv-lyr-sys-simple-label-wrapper {
	width: 100% !important;
}

.adv-lyr-sys-simple-label {
	flex: 99999999999999;
}

.adv-lyr-sys-simple-label.error {
	padding: 0.2rem;
	background: #ffbebe;
	border: 1px solid darkred !important;
}

.adv-lyr-sys-simple-label.message {
	padding: 0.2rem;
	background: #e4f7ff;
	border: 1px solid cornflowerblue !important;
}

.adv-lyr-sys-simple-label.success {
	padding: 0.2rem;
	background: #e3ffd3;
	border: 1px solid green !important;
}

.adv-lyr-sys-simple-label.warning {
	padding: 0.2rem;
	background: #fff4c3;
	border: 1px solid goldenrod !important;
}

/* Text area */
.adv-lyr-sys-textarea {
	font-family: arial, sans-serif;
	font-size: 1rem;
	resize: none;
	width: 100%;
	height: fit-content;
	max-height: 10rem;
	background: #f3f3f3;
	border: 1px solid #ccc;
}

.adv-lyr-sys-textarea:disabled {
	color: black;
}

.adv-lyr-sys-textarea-mono {
	font-family: Consolas, consolas, monospace;
}

.grd-lyr-airport-icon {
	display: flex !important;
	border: 2px solid #00318e;
	border-radius: 50% !important;
	width: 2rem;
	height: 2rem;
	color: #00318e;
	background: rgba(170, 210, 255, 0.5);
	box-shadow: 0 0 0 1px white;
	transform: translate(-50%, -50%);
}

.grd-lyr-airport-icon:hover {
	background: rgba(255, 255, 255, 0.5);
	cursor: move;
}

/* IE11 hacks */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	body {
		margin: 0;
		padding: 0;
	}

	#wizard-window {
		margin: 0;
	}

	.adv-lyr-sys-simple-label {
		max-width: 100%;
		flex: none;
	}
}