@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	/*.button-base, input[type="button"], select, .fas {
		display: inline-table;
	}

	#menu,
	#adv-lyr-sys-menu-bottom-panel,
	.controls-row-set,
	#wizard-container[data-hidden="0"],
	#wizard-window,
	#wizard-content > *,
	#wizard-buttons,
	.layer-container,
	.layer-label,
	.layer-menu,
	.adv-lyr-sys-widget-row
	{
		display: grid;
	}*/
	.adv-lyr-sys-simple-label {
		flex: none;
	}
}