.leaflet-control-coordinates .uiElement {
	font-size: 0.75rem !important;
	margin-top: 0;
	margin-bottom: 0;
}

.ri.grd-lyr-airport-icon {
	display: flex !important;
	border: 2px solid white;
	border-radius: 50% !important;
	width: 2rem;
	height: 2rem;
	color: white;
	background: rgba(0, 0, 100, 0.4);
	box-shadow: 0 0 0 1px rgb(0, 0, 100);
	transform: translate(-50%, -50%);
}

.not-mobile .ri.grd-lyr-airport-icon:hover {
	background: rgba(0, 0, 100, 0.7);
	cursor: move;
}

.ri.grd-lyr-airport-icon:active {
	background: rgba(0, 0, 100, 1) !important;
	cursor: move;
}

.synth-popup {
	font-family: Consolas, consolas, monospace;
	overflow: auto;
}

.synth-popup p {
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
	word-break: break-all;
}

/* Search */
.search-window {
	overflow: hidden;
}

.search-window .search-input {
	height: 2rem;
	width: 100%;
	border-width: 0;
	border-bottom-width: 1px;
}

.search-window-container div.als-button-base {
	text-align: left;
	width: 100%;
}

.search-window-container {
	height: 20rem;
	overflow: auto;
}

.search-window-container .als-button-base {
	border-width: 0;
	border-bottom-width: 1px;
}

.search-window-container .error a {
	color: inherit;
	transition: color 0.2s, text-shadow 0.2s;
}

.search-window-container .error a:hover {
	color: darkred;
	text-shadow: pink 0 0 5px;
	transition: color 0.2s, text-shadow 0.2s;
}

.als-dark .search-window-container .error a:hover {
	color: pink;
}